<div class="row">
  <div class="col-xl-8 ">
    <!-- <div><app-modal></app-modal></div> -->
    <!--<div class="card card-default">
      <div class="card-block">



      </div>
    </div>-->
  </div>

  <div class="col-xl-4 text-xs-center">
    <div class="list-group">
      <a href="javascript:;" class="list-group-item active">Cras justo odio</a>
      <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-envelope fa-fw"></i> Message Sent
            <span class="float-right text-muted small"><em>27 minutes ago</em></span>
        </a>
      <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-tasks fa-fw"></i> New Task
            <span class="float-right text-muted small"><em>43 minutes ago</em></span>
        </a>
      <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-upload fa-fw"></i> Server Rebooted
            <span class="float-right text-muted small"><em>11:32 AM</em></span>
        </a>
      <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-bolt fa-fw"></i> Server Crashed!
            <span class="float-right text-muted small"><em>11:13 AM</em></span>
        </a>
      <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-warning fa-fw"></i> Server Not Responding
            <span class="float-right text-muted small"><em>10:57 AM</em></span>
        </a>
      <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
            <span class="float-right text-muted small"><em>9:49 AM</em></span>
        </a>
      <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-money fa-fw"></i> Payment Received
            <span class="float-right text-muted small"><em>Yesterday</em></span>
        </a>
    </div>
  </div>
</div>
