<table class="table table-bordered" (click)="modalReference()">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>John</td>
      <td>Doe</td>
      <td>john@example.com</td>
    </tr>
    <!--<tr (click)="c('Close click')">
      <td>Mary</td>
      <td>Moe</td>
      <td>mary@example.com</td>
    </tr>
    <tr (click)="c('Close click')">
      <td>July</td>
      <td>Dooley</td>
      <td>july@example.com</td>
    </tr>-->
  </tbody>
</table>
